.header {
    display: flex;
    // align-items: center;
    // justify-content: center;
    @media (max-width: 1024px) {
        flex-direction: column;
    }
}
.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
}
.header-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    @media (max-width: 1024px) {
        width: 0%;
    }
}
.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
}
.header-separator {
    border-left: 2px solid gray;
    height: 2.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.header-button {
    width: 40%;
    height: 3rem;
    border-radius: 5px;
    margin: 0.5rem;
    border: none;
    background: none;
    //border: 1px solid #ccc;
    //background-color: #ccc;
    font-size: 1.25rem;
    color: #333333;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;

    &:hover {
        background-color: #ccc;
    }
    &:focus {
        background-color: #7ea6f0;
    }
    &:disabled {
        background-color: #2481d2;
    }
}